<div class="container">
    <!--<nav class="navbar-dark bg-primary">
      <a class="navbar-brand"  routerLink="/addPatient" routerLinkActive="active">AddPatient</a>
      <a class="navbar-brand"  routerLink="/patientList" routerLinkActive="active">PatientList</a>
      <a class="navbar-brand"  routerLink="/addDoctor" routerLinkActive="active">AddDoctor</a>
      <a class="navbar-brand"  routerLink="/doctorList" routerLinkActive="active">DoctorList</a>
      <a class="navbar-brand"  routerLink="/report" routerLinkActive="active">Report</a>
    </nav>-->
    <nav class="navbar-dark bg-primary">
        <a class="navbar-brand"  routerLink="/addPatient" routerLinkActive="active">AddPatient</a>
        <a class="navbar-brand"  routerLink="/patientList" routerLinkActive="active">PatientList</a>
        <a class="navbar-brand"  routerLink="/addDoctor" routerLinkActive="active">AddDoctor</a>
        <a class="navbar-brand"  routerLink="/doctorList" routerLinkActive="active">DoctorList</a>
        <a class="navbar-brand"  routerLink="/report" routerLinkActive="active">Report</a>
    </nav>
    <router-outlet></router-outlet>
</div>

