<div align="center">
    <div class="container" style="width: 50%">
        <div class="row">
            <div class="col-md-10">
                <h3>Add New Doctor</h3>
                <br>
                <table class="table table-bordered">
                    <tr>
                        <td>
                            <form [formGroup]="doctorForm" (ngSubmit)="onSubmit()">
                                <div class="form-group">
                                    <label for="firstName">First Name</label>
                                    <input id="firstNameText" type="text" formControlName="firstName" 
                                        class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"/>
                                    <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                                        <div *ngIf="f.firstName.errors.required">First Name is required</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="lastName">Last Name</label>
                                    <input id="lastNameText" type="text" formControlName="lastName" class="form-control" 
                                        [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                                    <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                                        <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="gender">Gender</label>
                                    <select id="genderList" class="form-control" formControlName="gender" 
                                        class="form-control" [ngClass]="{ 'is-invalid': submitted && f.gender.errors }">
                                        <option>Male</option>
                                        <option>Female</option>
                                    </select>
                                    <div *ngIf="submitted && f.gender.errors" class="invalid-feedback">
                                        <div *ngIf="f.gender.errors.required">Gender is required</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="phoneNumber">Phone Number</label>
                                    <input id="phoneNumberText" type="text" formControlName="phoneNumber" class="form-control" 
                                        [ngClass]="{ 'is-invalid': submitted && f.phoneNumber.errors }" />
                                    <div *ngIf="submitted && f.phoneNumber.errors" class="invalid-feedback">
                                        <div *ngIf="f.phoneNumber.errors.required">Phone Number is required</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="specialization">Specialization</label>
                                    <select id="specializationList" class="form-control" formControlName="specialization" 
                                        class="form-control" [ngClass]="{ 'is-invalid': submitted && f.specialization.errors }">
                                            <option>General</option>
                                            <option>Pediatrician</option>
                                            <option>Gynecologist</option>
                                            <option>Neurologist</option>
                                    </select>
                                    <div *ngIf="submitted && f.specialization.errors" class="invalid-feedback">
                                        <div *ngIf="f.specialization.errors.required">Specialization is required</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input style="margin-right: 10px" type="submit" [disabled]="loading" class="btn btn-primary" value="Add Doctor" />
                                    <input type="reset" [disabled]="loading" class="btn btn-primary" value="Reset" />
                                </div>
                            </form>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

    