<h6 class="pb-2 mb-0">Doctor Informations</h6>
<div class="row">
    <br>
    <table>
        <tr>
            <td><label style="margin-right: 10px;margin-left: 10px">Show</label></td>
            <td><select class="form-control" name="noOfItems" (change)="changeNoOfItemsShowPerPage()">
                <option>5</option>
                <option>10</option>
                <option>15</option>
                <option>20</option>
                <option>25</option>
            </select></td>
            <td><label style="margin-right: 10px">Items</label></td>
            <td><input [(ngModel)]="searchText" placeholder="Search" class="form-control mr-sm-2"></td>
        </tr>
    </table>
</div>
<div class="row">
   
</div>
<p></p>
    <table class="table table-bordered table-sm">
      <thead class="thead-light">
        <tr>
          <th scope="col">Doctor Id</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Gender</th>
          <th scope="col">Phone Number</th>
          <th scope="col">Specialization</th>
          <th scope="col">Created On</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <!--<tr *ngFor="let item of pagedItems | patientfilter: {patientId: searchText, 
            patientName:searchText}; let i=index;">-->
        <tr *ngFor="let item of pagedItems | patientfilter: {id: searchText, 
            patientName:searchText,gender:searchText,phoneNumber:searchText,
            specialization:searchText}; let i=index;">
          <td>{{item.id}}</td>
          <td>{{item.firstName}}</td>
          <td>{{item.lastName}}</td>
          <td>{{item.gender}}</td>
          <td>{{item.phoneNumber}}</td>
          <td>{{item.specialization}}</td>
          <!--<td>{{item.createdDate}}</td>-->
          <td>
            <img name="Diagnosis" width="15" class="pointer" src="./assets/diagnosis.png"/>
            <img name="Edit" width="14" class="pointer" src="./assets/edit.png" />
            <img name="Delete" width="15" class="pointer" src="./assets/delete.png"/>
         </td>
      </tbody>
    </table>
    <div class="container">   
        <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
            <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
                <a class="page-link" (click)="setPage(1)">First</a>
            </li>
            <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
                <a class="page-link" (click)="setPage(pager.currentPage - 1)">Previous</a>
            </li>
            <li class="page-item" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                <a class="page-link" (click)="setPage(page)">{{page}}</a>
            </li>
            <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                <a class="page-link" (click)="setPage(pager.currentPage + 1)">Next</a>
            </li>
            <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                <a class="page-link" (click)="setPage(pager.totalPages)">Last</a>
            </li>
        </ul>
    </div>
           